@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
    font-family: 'Montserrat', sans-serif;
}

.default-nav
{
    /* display: none !important; */
    margin: 0 30px !important;
    background-color: #F4F4F4 !important;
}

.default-nav > svg 
{
    width: 15px !important;
}
.indicators 
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* .overlay::after
{
    right: auto !important;
    top: auto !important;
    transform: none !important;
} */

.overlay::before, .overlay::after
{
    /* background:#DBFF00 !important; */
    width: 0px !important;
}

.indicators  > .active 
{
    background-color: black !important;
}